<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div fxFlex="3" fxFlex.xs="55">
        <mat-checkbox></mat-checkbox>
    </div>
    <div fxFlex="5" fxFlex.xs="55">
        {{ lineNumber }}
    </div>
    <div fxFlex="50%">
        {{ product.name }}
    </div>
    <div fxFlex="5" fxFlex.xs="15">
        <product-pack-size [packSize]="product.packSize"></product-pack-size>
    </div>
    <div fxFlex="5" fxFlex.xs="15">
        Badges
    </div>
    <div fxFlex="5" fxFlex.xs="15">
        Tags
    </div>
    <div fxFlex="5" fxFlex.xs="15">
        Last Qty
    </div>
    <div fxFlex="5" fxFlex.xs="15">
        Par
    </div>
    <div fxFlex="5" fxFlex.xs="15">
        Price
    </div>
    <div fxFlex="5" fxFlex.xs="15">
        Critical
    </div>
    <div fxFlex="5" fxFlex.xs="15">
        Critical
    </div>
    <div fxFlex="5" fxFlex.xs="15">
        Break
    </div>
    <div fxFlex="5" fxFlex.xs="15">
        <product-quantity [product]="product" [orderDetails]="product.orderDetails" [updating]="updating" [quantity]="quantity"
            (changeQuantity)="changeQuantity($event)"></product-quantity>
    </div>
</div>