<div class="mat-typography" style="margin: 20px">
  <h2>Orders</h2>
  <div *ngFor="let order of (orders$ | async); trackBy: trackByFnOrder">
    <!-- <pre>{{order | json}}</pre> -->
    <mat-card
      style="max-width: 400px;margin:10px;"
      [class.mat-elevation-z24]="true"
    >
      <mat-card-title>{{ order.number }} {{ order.status }}</mat-card-title>
      <mat-card-subtitle>Products</mat-card-subtitle>
      <mat-card-content>
        <div
          class="body-1"
          *ngFor="
            let orderDetail of order.orderDetails;
            trackBy: trackByFnOrderDetail
          "
        >
          <span *ngIf="orderDetail.product"
            >Name:{{ orderDetail.product.name }}</span
          >&nbsp;<product-quantity
            [orderDetails]="orderDetail"
            [product]="orderDetail.product"
            [quantity]="orderDetail.quantity"
            [updating]="orderDetail.updating"
            (changeQuantity)="changeQuantity($event)"
          ></product-quantity>
        </div>
      </mat-card-content>
      <mat-card-actions
        ><button color="warn" mat-fab (click)="deleteOrder(order.id)">
          Delete
        </button></mat-card-actions
      >
    </mat-card>
  </div>

  <button mat-raised-button (click)="createOrder()">Add New Order</button>
</div>
