<div class="mat-typography" style="margin: 20px">
  <h2>Products with Order Details</h2>
  <div *ngFor="let product of products$ | async;trackBy: trackByFnProduct">
    <span>{{ product.name }}</span>&nbsp;-&nbsp;
    <span *ngIf="product.orderDetails">Order Quantity:<input [ngModel]="product.orderDetails.quantity" [disabled]="product.orderDetails.updating"
        type="text" (change)="changeQuantity(product.orderDetails.id, $event.target.value)" style="width:20px"
        [ngStyle]="product.orderDetails.updating && {'background':'grey', 'color': 'red'}">
    </span>
  </div>
</div>